body{
  scroll-behavior: smooth;
}
h1#title{
  text-align: center;
}
.search-container input[type=text] {
  width: 50%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
.search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .search-container button:hover {
    background: #ccc;
  }

  .search-container input[type=text]:required {
    border: 1px solid red;
    outline: none;
  }

  .blink {
    animation: 1s linear infinite condemned_blink_effect;
  }
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  .BeatmapSearching_options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4px 0 4px 0;
    flex-grow: 1;
    background-color: #454141;
  }
.BeatmapSearching_options-container div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.BeatmapSearching_options-container p{
  padding: 0;
  margin: 0;
}

.BeatmapSearching_options-container #title{
  color: #fff;
    font-weight: 700;
        padding: 0;
    margin: 0;
}

.BeatmapSearching_options-container #selects {
  font-weight: 500;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
}

.BeatmapSearching_options-container #selects a {
  color: #ff8686;
}
.BeatmapSearching_options-container #selects a.clicked{
  color: #86cdff;
}

.BeatmapSearching_options-container #selects span {
  color:#fff;
}
#moreViewWrapper{
  text-align: center;
}
.BeatmapSearching_options-container .select-container#select{
  display: block;
  margin-top: 5px;
}

.BeatmapSearching_options-container #selectList{
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 0px;
}
.BeatmapSearching_options-container .select-container button{
  margin-left: 5px;
}
